@model List<Kadry.Models.Workplace>
@{
    ViewBag.Title = "WorkplaceList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Title {
    Stanowiska pracy
}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Typ</th>

    </tr>
    </thead>
    <tbody>
    @{
        foreach (var e in Model)
        {
            <tr>
                <th scope="row">@Html.Name(e.Id.ToString())</th>
                <td>@Html.Name(e.Name)</td>

            </tr>

        }
    }

    </tbody>
</table>
<div class="float-right">
    <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("AddWorkplace","Admin")'">Dodaj</button>
</div>